# ignore everything
*
*/

# unignore what we want to track
!*.py
!*.cpp
!*.cu
!.gitignore

# unignore specific folders
!CPU_Tests/
!GPU_Tests/
# !matrixMul/
# !mergeSort/
# !verctorAdd/

# unignore everything inside cuda sample directories (recursively)
# !matrixMul/**
# !mergeSort/**
# !verctorAdd/**